html {
  font-size: 62.5%;
  overflow-y: hidden;
}

.fizz-buzz-clock-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url(https://source.unsplash.com/random);
  background-size: cover;
}

.fizz-buzz-clock-bg::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.fizz-buzz-clock {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 22rem;
  color: #FFFFFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.fizz-buzz-clock > div {
  width: 30%;
  text-align: center;
}

.fizz-buzz-clock > span {
  position: relative;
  top: -20px;
  width: 5%;
  text-align: center;
}

.fizz-buzz-clock .fizz,
.fizz-buzz-clock .buzz {
  line-height: 0.65;
}

.fizz-buzz-clock .fizz-buzz .buzz {
  margin: 50px 0 0;
}
